NODE_ENV=production
# NODE_ENV=development

SERVER_PORT=3000
SERVER_SESSION_SECRET=alksjdflajslkdfjlksajfdlkj
SERVER_IS_HTTPS=false # Change this if the server is using https
SERVER_LOGGING_LEVEL=info # Only log on info level and below

CLIENT_ORIGIN=http://192.168.40.55:3001,http://172.16.10.202:3071,https://fileguard.5lsolutions.com # Change this to the client url on the NETWORK!, use comma separated list for multiple origins

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:password@localhost:3306/fileguard"

MONGODB_URL=mongodb://localhost:27017

# FILE_SERVER="/root/fileguard-assets/"
FILE_SERVER="root"